{% extends 'struct.html' %}
{% block title %}Index{% endblock title %}
{% block header-title %}
    Index
{% endblock header-title %}
{% block body %}
    {% for task in object_list %}
        <div class="{% if task.is_finished %}finished{% else %}not-finished{% endif %}">
            <h1>{{ task.title }}</h1>
            <div>{{ task.description|truncatewords:20 }}</div>
            <p><a href="{% url read-task task.id %}">see more...</a></p>
        </div>
    {% endfor %}
{% endblock body %}
